<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="whiskyTemplet.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Red+Rose:wght@300..700&display=swap"
        rel="stylesheet">
</head>

<body>
    <section class="scotch-whisky">
        <h4>
            the rarest edition - miltonduff - scotland - single malt whiskey
        </h4>
        <div class="scotch-whisky-info">
            <h5>
                the rarest edition
            </h5>
            <h2>
                200 years of scotch whisky
            </h2>
            <h3>
                Miltonduff 41 <span>years old</span>
            </h3>
            <p>
                As many people will know 1824 is a very significant year for the Scotch Whisky Industry, that was the
                year when whisky making truly flourished and became what we recognize today. A year before in 1823 had
                seen the Excise Act pass through Parliament making it much more worthwhile for the illicit distillers of
                the time to become legal and the industry to become more of what we recognize today.
            </p>
        </div>
        <img src="image/92881ab9-78fe-40e9-abf3-929f40482f26_width=1004 1.png" alt="image">
        <div class="miltonduff-distillery-info">
            <h5>
                the rarest edition
            </h5>
            <h2>
                story of <br>
                miltonduff distillery
            </h2>
            <h3>
                why Miltonduff
            </h3>
            <p>
                Situated in the Laich of Moray, just a few minutes from the county town of Elgin there was a number of
                illicit stills in the area but Miltonduff was the only one who became legal in 1824. Ideally located to
                take advantage of the locally grown barley, the distillery also has a wonderfully consistent water
                source taking water from the Black Burn which runs adjacent to the distillery.
            </p>
            <div class="miltonduff-distillery-description">
                <p class="first-p">
                    The Black Burn a few miles further upstream passes the ancient Pluscarden Abbey where the monks have
                    been brewing beer for centuries using the water from the burn.
                </p>
                <p class="second-p">
                    In 1964 there was also a pair of Lomond stills put into the distillery
                    producing a spirit know as Mosstowie, the name of local area around the distillery. The stills were
                    decommissioned in 1981 and replaced by another set of pot stills making three pairs.
                </p>
                <p>
                    In 2005 the distillery was purchased by Groupe Pernod Ricard and is
                    currently undergoing a very extensive upgrade. Miltonduff still remains one of the key malts in the
                    Ballantines family which itself is one of the most popular Scotch Whiskies in the world
                </p>
            </div>
        </div>
    </section>
    <section class="rarest-miltonduff">
        <h4>
            the rarest edition - miltonduff - scotland - single malt whiskey
        </h4>
        <div class="rarest-miltonduff-info">
            <div class="rarest-miltonduff-description">
                <h5>the rarest edition</h5>
                <h2>rarest <br> miltonduff <br>
                    41 years <br>
                    old</h2>
                <p>Renowned worldwide for its rich honeyed and orchard fruit flavours, Chivas Regal is one of the most
                    prominent brands in Scotch whisky. Its journey to prominence began in 1801 at a grocery store in
                    Aberdeen, where brothers John and James Chivas honed their craft.</p>
                <div class="miltonduff-info">
                    <div class="info space right_border">
                        <h4>miltonduff</h4>
                        <h5>distillery</h5>
                    </div>
                    <div class="info right_border">
                        <h4>sherry oak</h4>
                        <h5>cask type</h5>
                    </div>
                    <div class="info right_border">
                        <h4>49.2%</h4>
                        <h5>alc./vol.</h5>
                    </div>
                    <div class="info last-div">
                        <h4>41</h4>
                        <h5>years old</h5>
                    </div>
                </div>
                <button>
                    buy now
                </button>
            </div>
            <div class="rarest-miltonduff-img">
                <img src="image/Group 3018840.png" alt="botal_image">
                <img src="image/Group 3018850.png" alt="botal_image" class="image">
            </div>
        </div>
    </section>
    <section class="slider">
        <img src="image/left-arrow.png" alt="image">
        <img src="image/Group 3018851.png" alt="botal_image" class="image">
        <img src="image/Right-arrow.png" alt="image">
    </section>
    <section class="tasting-notes">
        <div class="tasting-notes-info">
            <h6>
                TASTING NOTES
            </h6>
            <div class="notes">
                <h5>Colour</h5>
                <p>Fresh roasted chestnuts, blackcurrant, Doyenne pears, brioche and soft patisserie spices.</p>
            </div>
            <div class="notes">
                <h5>Flavour</h5>
                <p>Fresh roasted chestnuts, blackcurrant, Doyenne pears, brioche and soft patisserie spices.</p>
            </div>
            <div class="notes">
                <h5>The palate</h5>
                <p>Madagascan vanilla, rich berry fruits, cinnamon and dark cacao.</p>
            </div>
            <div class="notes lasst-notes">
                <h5>Finishing notes</h5>
                <p>Sugared almonds and roasted Colombian coffee which lifts to a subtle sweet wood smoke.</p>
            </div>
        </div>
        <div class="tasting-notes-img">
            <img src="image/testing_botal.png" alt="image">
        </div>
    </section>
    <section class="whisky-order">
        <div class="whisky-year-info">
            <h5>
                the rarest edition
            </h5>
            <h2>
                200 years of whisky
            </h2>
        </div>
        <button>buy now</button>
    </section>
    <section class="footer">
        <div class="footer-menu">
            <div class="footer-info">
                <div class="company-info">
                    <img src="image/company_logo.png" alt="logo">
                </div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur semper odio arcu, eget vehicula
                    lorem
                    vulputate lobortis.
                </p>
            </div>
            <div class="footer-links">
                <h5>Quick Links</h5>
                <div class="links">
                    <h6>About US</h6>
                    <h6>Premium Collections</h6>
                    <h6>Our Stores</h6>
                    <h6>FAQ’s</h6>
                </div>
            </div>
            <div class="Other-Products">
                <h5>Other Products</h5>
                <div class="Products-name">
                    <h6>Blackbulls Whiskey</h6>
                    <h6>Duncan taylor </h6>
                    <h6>Signature Reserve</h6>
                    <h6>The Macallen</h6>
                </div>
            </div>
            <div class="social-media">
                <h5>Follow us on</h5>
                <div class="social-media-img">
                    <img src="image/instagram.png" alt="image">
                    <img src="image/twiter.png" alt="image">
                    <img src="image/facebook.png" alt="image">
                </div>
            </div>
        </div>
    </section>
</body>

</html>